

<!DOCTYPE html>
<HTML>

    <head>
        <title>BEM-VINDO(A)</title>

    <meta http-equiv="US-X-Compatible" content="IE-Edge">
    <meta charset="UTF-8">
    <h1 id="intro">DIOCESE</h1>
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    </head>
    <link href="/Diocese/static/img/styles.css" rel="stylesheet">

    <body>

    <main>
        <div class="container">
            <div class="bottom">Inicio</div>
            <div class="bottom">Projetos</div>
            <div class="bottom">Livros</div>
            <div class="bottom">Doações</div>
            <div class="bottom">Sobre nós</div>   
        </div>

        <section class="box-bottom"></section>     
        
    </main>  
    <footer>
        <p">Todos os direitos reservados. &copy; 2023
            Diocese de SANTA RITA
        </p>
        </footer>       
    </body>
</HTML>